.dialog {
    width: 100px;
    height: 100px;
    background: white;
}

.dialog-wrapper {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: hsla(0, 0%, 0%, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}